/*
----------------------------------------------------------------
Author: TungPS
Website: http://psdesigner.net
----------------------------------------------------------------
*/
body {
	font-family: Arial,Tahoma,sans-serif;
	background-color: #fafafa;
}
.page-header {
    background: -webkit-linear-gradient(#fafafa, #efefef);
    background: -o-linear-gradient(#fafafa, #efefef);
    background: linear-gradient(#fafafa, #efefef);
    border-bottom: 5px solid #d2d2d2;
    margin: 15px 0 0 0;
    padding-bottom:15px;
    height: 40px;
}
#site-nav .navbar-brand {
  padding: 0; margin: 0;
}
.top-menu {
	margin-right: 20px;
}
.nav-top-menu {
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ccc;
    list-style: none;
    margin-top: -16px;
    padding-left:15px;
    padding-top:2px;
    border-radius:0 0 5px 5px;
    height:25px;
}
.nav-top-menu li {
	margin-right: 5px;
	font-size:11px;
	font-family:tahoma;
	font-weight: bold;
}
.nav-top-menu li a {
	color:#01a0e2;
}
.nav-top-menu li a:hover {
	color:#666;
	text-decoration: none;
}
.nav-top-menu li:after {
	content: '|';
	font-weight: 400;
	margin:0 5px;
	color:#01a0e2;
}
.nav-top-menu li:last-child:after {
	content:'';
}
.nav-top-menu li.last-tools:after {
	content:'';
	margin-right:20px;
}
.nav-top-menu li.user-login a,.nav-top-menu li.user-register a {
	color:#666;
}
.nav-top-menu li.user-login a:hover,.nav-top-menu li.user-register a:hover {
	color:#01a0e2;
	text-decoration: none;
}
.nav-top-menu li.user-login:after {
	color:#666;
}

.main-nav {
	background: -webkit-linear-gradient(#3ec4f6, #108edb);
    background: -o-linear-gradient(#3ec4f6, #108edb);
    background: linear-gradient(#3ec4f6, #108edb);
    border-top:1px solid #108edb;
}
.main-menu li a {
	color:#FFF;
	font-weight: bold;
	font-size:16px;
	text-transform: uppercase;
}
.main-menu ul li.active a {
	background: url("../images/nav-hover.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
}
.main-menu ul li a:hover,.main-menu ul li a:focus,.main-menu ul li a:active {
	background: url("../images/nav-hover.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
}
.footer {
	padding:5px 0 20px 0;
	background: -webkit-linear-gradient(#efefef, #fafafa);
    background: -o-linear-gradient(#efefef, #fafafa);
    background: linear-gradient(#efefef, #fafafa);
}
.footer .container .section{
	border-top: 5px solid #d2d2d2;
	padding-top: 20px;
}
.footer-menu{
	margin-left: 30px;
}
.nav-footer-menu {
	list-style:none;
}
.nav-footer-menu li {
	margin-right: 5px;
	font-size:12px;
	font-family:tahoma;
	font-weight: bold;
}
.nav-footer-menu li a {
	color:#666;
}
.nav-footer-menu li a:hover {
	color:#01a0e2;
	text-decoration: none;
}
.nav-footer-menu li:after {
	content: '|';
	font-weight: 400;
	margin:0 5px;
	color:#666;
}
.nav-footer-menu li:last-child:after {
	content:'';
}
.copyright {
	margin-top: 10px;
	font-size:11px;
	font-family: Arial;
	color:666;
}
.main-content {
	background: #ededed;
}
.homebanner {
	margin:10px 0;
}
.box-shadows {
-webkit-box-shadow: 0px 0px 5px 1px rgba(51,51,51,0.1);
-moz-box-shadow: 0px 0px 5px 1px rgba(51,51,51,0.1);
box-shadow: 0px 0px 5px 1px rgba(51,51,51,0.1);
}
.cttg,.dktl,.dstt {
	background:#FFF;
	padding:20px 40px;
	border:1px solid #CCC;
	margin: 10px 0;
}

tr.vina-header-table {
	background-color:#01a0e2;
}
tr.vina-header-table th {
	color:#FFF;
}
.section-header {
	font-weight: bold;
	color:#01a0e2;
	margin-bottom: 20px;
}
img.bdr {
	border:1px solid #CCC;
}
.top-header {margin-bottom:20px;}
